<app-header />
<div class="content">
    <!-- Resources -->
    <div class="container-fluid bg-dark text-light p-5">
        <div class="container bg-dark p-5">
            <h1 class="display-4">Welcome to my Portfolio Website</h1>
            <hr>
            <p>Mohamed Afiq | Software Development Engineer | Gold II Valorant Player | Anime Fans | </p>
        </div>
    </div>
    
    <h2>About Me</h2>
    <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Software Engineer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>A results-oriented software developer with 3 years plus of experience, seeking an invigorating career change that
        presents stimulating challenges and fuels my passion for growth. Recognized for being a fast learner, motivated, and
        disciplined, I am eager to apply my skills and expand my expertise in web development, APIs, databases, and DevOps.
        With a keen interest in these areas, I am driven to contribute to a dynamic and collaborative team environment while
        continuously enhancing my technical proficiencies.</p>
    </mat-card-content>
    </mat-card>
</div>
<app-footer />