<div class="row mt-5">
    <div class="col-6">
        <app-expense-detail-form />
    </div>
    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between
            align-items-start mb-2 border px-4 py-3 rounded-3" 
                *ngFor="let ed of service.list">    
                <div class="flex-grow-1 mouse-hover"
                (click)="populateForm(ed)">
                    <div class="class fw-bold">{{ ed.expenseName }}</div>
                    <div>{{ ed.expenseCategory }} </div>
                    <div class="class fw-bold"> {{ ed.expenseAmount }} </div>
                    <div>{{ ed.expenseDate }}</div>
                </div>
                <span class="text-secondary">
                    <button (click)="deleteExpense(ed.expenseId)">delete</button>
                </span>
            </li>
        </ul>
    </div>
</div>