/* You can add global styles to this file, and also import other style files */
.mouse-hover {
    cursor: pointer;
}

form-label {
    text-transform: uppercase;
    color: gray;
}

form-input {
    font-weight: 500;
}

form input::placeholder {
    color:beige;
    font-weight: 300;
}

form.submitted input.ng-invalid {
    border-color: red;
}

form.submitted select.ng-invalid {
    border-color: red;
}
/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

